:root {
    --leftPageWidth: 40vw;
    --sidebarColor: rgba(0, 0, 0, 0.7)
}

@font-face {
    font-family: 'Norse';
    src: url("./fonts/Norse-Bold.otf");
}

body {
    margin:0;
    display: flex;
    align-items: center;
    background-color:ghostwhite;
    width: 100vw;
    height: 100vh;
    min-height: 700px;
}

.imageContainer {
    min-width: var(--leftPageWidth);
    background-image: url('./imgs/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height:100vh;
    min-height: 100%;
}

.sidebar {
    position: absolute;
    top: 15vh;
    left: 0;
    width: var(--leftPageWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--sidebarColor);
}

.sidebar img {
    width: 75px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
    padding: 15px;
}

.sidebar p {
    margin: 0;
    font-size: 2rem; /* Adjust as needed */
    color: white /* Text color */;
    font-family: Norse, sans-serif;
}

.rightContainer {
    display: flex;
    width: calc(100vw - var(--leftPageWidth));
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.textContainer {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.textContainer>p:nth-child(2) {
    font-weight: bold;
    font-size: 22px;
}


.formContainer {
    width: 60vw;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    width: 40%;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

input{
    padding: 0.5rem;
    border-radius: 25px; /* This makes the corners rounded */
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border: 2px solid lightblue;
    box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.255);
    outline: none;
}

input:invalid {
    border: 2px solid lightcoral;
}

.legend {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    font-family: Norse, sans-serif;
    height: fit-content;
    text-align: center;
}

.submitContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.255);
    background-color: aliceblue;
    color: black;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;  
    margin-top: 10px; 
}

button:hover {
    color: white;
    background-color: #cc8fff;
}

button:active {
    background-color: #b667c3;
}

@media screen and (max-width:850px) {
    body {
        flex-direction: column;
    }
    .imageContainer {
        width: 100vw;
        height: 20rem;
    }
    .sidebar {
        width: 100vw;
    }
    .formContainer {
        width: 100vw;
    }
}